html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

h1 {
  color: #333;
  font-size: 2.2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.8rem;
  font-weight: normal;
  text-align: left;
}

p {
  color: #666;
  font-family: 'Open Sans', sans-serif;
}

hr {
  background: #e3e3e3;
  color: #e3e3e3;
  width: 10%;
  height: 4px;
  border: none;
  margin-bottom: 6.5rem;
}

a > img {
  height: 3.5rem;
}

li {
  display: inline;
}

a {
  color: #fff;
  text-decoration: none;
}

.btn {
  background-color: transparent;
  border: 2px solid #5ec2e7;
  border-radius: 5px;
  color: #5ec2e7;
  margin: 1rem 0;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
  transition: all 250ms ease-in-out;
}

.btn:hover {
  border-color: #56afd0;
  color: #56afd0;
}

.grid {
  display: flex !important;
}

.grid-cell {
  flex: 1;
  margin: 1rem;
}

section,
footer {
  padding: 10rem;
  text-align: center;
}

/* Header */

header {
  background-color: #5ec2e7;
  background-image: url(img/bg-image.jpg);
  /*background-position: center;*/
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 74rem;
  padding: 6rem;
  text-align: center;
}

nav {
  float: right;
  font-size: 1.8rem;
  position: relative;
}

nav > ul {
  list-style: none;
  display: inline;
}

nav > ul > li {
  padding-left: 3rem;
}

nav > ul > li > a {
  transition: all 200ms ease-in-out;
}

nav > ul > li:hover a {
  border-bottom: 2px solid #000;
  color: #000;
}

.jumbo {
  font-size: 8rem;
  text-transform: uppercase;
  color: #fff;
  margin: 4.5rem;
}

.subtitle {
  font-size: 2.2rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: block;
}

/* About */

.about {
  background-color: #f4f4f4;
}

.about-item > img {
  width: 20rem;
}

h3 {
  font-size: 2.2rem;
  color: #333;
}

.info-container {
  text-align: left;
}

/* Portfolio */

.project {
  background-color: #5ec2e7;
  height: 20rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  animation: scaleUp 750ms ease-in-out paused backwards;
  transform-origin: bottom left;
}

@keyframes scaleUp {
  0% { transform: scale(0); }
  80% { transform: scale(1.05); }
  100% { transition: scale(1); }
}

#project2 {
  animation-delay: 100ms;
}

#project3 {
  animation-delay: 200ms;
}

#project4 {
  animation-delay: 300ms;
}

.project-info {
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  position: relative;
  bottom: 0;
  transform: translateY(200%);
  transition: transform 350ms ease-in-out;
  height: 50%;
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.project:hover .project-info {
  transform: translateY(100%);
}

.btn-wrapper {
  margin: 2rem;
}

/* Skills */

.skills {
  background-color: #f4f4f4;
}

/* Load animation */

@keyframes load {
  from {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }
}

/* Container */

.progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}

/* Item */

.progress > li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  margin: 3.25rem;
}

.progress > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -3.25rem;
  font-weight: 400;
}

.progress > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 6.0125rem;
  left: 0;
  font-size: 3.25rem;
  text-align: center;
  animation: fadeIn 1500ms ease-in-out backwards paused;
}

.progress > li.play:after,
.progress svg:nth-child(2) path.play,
.project.play,
.experience.play {
  animation-play-state: running;
}

.progress svg {
  width: 16.25rem;
  height: 16.25rem;
}

.progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
}

.progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: #f4f4f4;
  animation: load 1500ms ease-in-out backwards paused;
}


/* Experience */

.experience {
  text-align: left;
  animation: fadeUp 750ms ease-in-out paused;
}

.experience > .grid > .grid-cell > p {
  margin-bottom: 3rem;
  max-width: 60rem;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
}

/* Timeline */

.timeline {
  position: relative;
}

.company {
  font-size: 1.8rem;
  color: #333;
}

.details {
  font-size: 1.3rem;
  color: #999;
}

.title {
  font-size: 1.4rem;
  color: #333;
}

.timeline-block {
  position: relative;
  left: 6rem;
  margin-bottom: 4rem;
}

.timeline-circle {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #fff;
  border: 4px solid #d4d4d4;
  position: absolute;
  left: -5rem;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1.8rem;
  height: 100%;
  width: 4px;
  background: #d4d4d4;
}

.year {
  color: #d4d4d4;
  background-color: #fff;
  position: relative;
  left: 2px;
}

/* Quotes */

.quotes {
  background-color: #ff605f;
  font-style: italic;
  font-size: 2.4rem;
}

.quote,
.author {
  color: #fff;
}

.author {
  font-size: 1.6rem;
}

/* Contact */

.contact {
  background-color: #f4f4f4;
  padding-left: 10rem;
  padding-right: 10rem;
}

input[type=text],
input[type=email] {
  background-position: 2rem;
  background-repeat: no-repeat;
  text-indent: 4rem;
}

input[type=text],
input[type=email],
textarea {
  border-radius: 5px;
  border: 2px solid #eee;
  background-color: #fff;
  padding: 1.2rem;
  outline: none;
  transition: border 250ms ease-in-out;
}

input[name=name] {
  background-image: url(img/name.svg);
}

input[name=email] {
  background-image: url(img/email.svg);
}

textarea {
  height: 8rem;
}

input:focus,
textarea:focus {
  border: 2px solid #88d3ff;
}

input[name=_gotcha] {
  display: none;
}

/* Footer */

footer {
  background-color: #363842;
  color: #21242d;
}

footer > ul {
  padding: 0;
}

footer > ul > li {
  padding: 0 1.5rem;
}

footer > p {
  font-size: 1.2rem;
  color: #21242d;
}

.links {
  margin-bottom: 3rem;
}

/* Carousel */

.slick-dots {
  padding-left: 0;
  position: relative;
  top: 8rem;
}

.slick-dots > li > button {
  border: none;
  border-radius: 50%;
  margin: 0 .8rem;
  color: transparent;
  cursor: pointer;
  outline: none;
}

.about > .slick-dots > li > button {
  background: rgba(0, 0, 0, .1);
}

.about > ul > li.slick-active > button {
  background: rgba(0, 0, 0, .3);
}

.quotes > .slick-dots > li > button {
  background: rgba(255, 255, 255, .2);
}

.quotes > ul > li.slick-active > button {
  background: #fff;
}
